/*
  Margins
*/

.m-t-m{
  margin-top: 1rem;
}

.m-t-l{
  margin-top: 2rem;
}

.m-t-xl{
  margin-top: 4rem;
}

.m-t-xxl{
  margin-top: 6rem;
}

.m-t-xxxl{
  margin-top: 8rem;
}

.m-t-xxxxl{
  margin-top: 10rem;
}

.m-b-m{
  margin-bottom: 1rem;
}

.m-b-l{
  margin-bottom: 2rem;
}

.m-b-xl{
  margin-bottom: 4rem;
}

.m-b-xxl{
  margin-bottom: 6rem;
}

.m-b-xxxl{
  margin-bottom: 8rem;
}

.m-b-xxxxl{
  margin-bottom: 10rem;
}



/*
  Paddings
*/

.p-t-m{
  padding-top: 1rem;
}

.p-t-l{
  padding-top: 2rem;
}

.p-t-xl{
  padding-top: 4rem;
}

.p-t-xxl{
  padding-top: 6rem;
}

.p-t-xxxl{
  padding-top: 8rem;
}

.p-t-xxxxl{
  padding-top: 10rem;
}

.p-b-m{
  padding-bottom: 1rem;
}

.p-b-l{
  padding-bottom: 2rem;
}

.p-b-xl{
  padding-bottom: 4rem;
}

.p-b-xxl{
  padding-bottom: 6rem;
}

.p-b-xxxl{
  padding-bottom: 8rem;
}

.p-b-xxxxl{
  padding-bottom: 10rem;
}
